{% load static %}

<!DOCTYPE html>
<html>
  <head>
  	<title>NewsAlligator</title>

  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type='text/javascript' src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js'></script>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'webapp/css/home.css' %}">
    <script type='text/javascript' src="{% static 'webapp/js/home.js' %}"></script>

  </head>
  {% verbatim %}
  <body ng-app="newsApp">
      <div ng-controller="HomeController" class='App' ng-style="{'background-color':'#ccc'}">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Brand</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<li><span class="label label-default">Filter:</span></li> <!--fix align-->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
		          <ul class="dropdown-menu categories">
		            <li><input type="checkbox" ng-click='httpGetAsync()'  value="politics" checked/>&nbsp;Politics</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="business" checked/>&nbsp;Business</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="entertainment" checked/>&nbsp;Entertainment</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="sports" checked/>&nbsp;Sports</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="science" checked/>&nbsp;Science</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="other" checked/>&nbsp;Other</li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sources<span class="caret"></span></a>
		          <ul class="dropdown-menu sources">
		            <li><input type="checkbox" ng-click='httpGetAsync()'  value="cnn" checked/>&nbsp;CNN</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="yahoo" checked/>&nbsp;Yahoo</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="nytimes" checked/>&nbsp;NY Times</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="huffingtonpost" checked/>&nbsp;Huffington Post</li>
				    <li><input type="checkbox"  ng-click='httpGetAsync()' value="foxnews" checked/>&nbsp;Fox News</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="nbcnews" checked/>&nbsp;NBC News</li>
				    <li><input type="checkbox"  ng-click='httpGetAsync()' value="dailymail" checked/>&nbsp;Daily Mail</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()'  value="washingtonpost" checked/>&nbsp;Washington Post</li>
				    <li><input type="checkbox"  ng-click='httpGetAsync()' value="theguardian" checked/>&nbsp;The Guardian</li>
				    <li><input type="checkbox" ng-click='httpGetAsync()' value="wsj" checked/>&nbsp;WSJ</li>

		          </ul>
		        </li>
		        <li><span class="label label-default">Sort:</span></li> <!--fix align-->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sources<span class="caret"></span></a>
		          <ul class="dropdown-menu dropdown-menu-form"> <!--fix single selection-->
					<li><label><input type="radio" ng-change='httpGetAsync()' name="sortKey" ng-model='sortKey' value='date'>&nbsp;Latest</label></li>
					<li><label><input type="radio" ng-change='httpGetAsync()' name="sortKey" ng-model='sortKey' value='hotness_score'>&nbsp;Hottest</label></li>
				  </ul>
		        </li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		      	<li>{{ welcome }}</li> <!--fix align-->
		      	<li role="separator" class="divider"></li>
		        <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Login</button>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

 		{{ welcome }} 
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
		         <form>
			        <div class="form-group">
			          <label for="usernameInput">Username</label>
			          <input type="text" class="form-control" id="usernameInput"  placeholder="Username" ng-model="user.username">
			        </div>
			        <div class="form-group">
			          <label for="passwordInput">Password</label>
			          <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="user.password">
			        </div>
			      </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-default" ng-click="login()">Login</button>
		      </div>
		    </div>

		  </div>
		</div>

		<div infinite-scroll='loadMore()' infinite-scroll-distance='1' class='feedBoard'>
    		<div ng-repeat="topic in shownFeed" class='topic-item'>
              <h4><b>{{topic.title}}</b></h4>
              <div class='topic-content'>
                  <div ng-if='topic.image_url' class='topic-image'>
                    <img src={{topic.image_url}} width="150">
                  </div>
                  <div class='topic-details'>
                      <div class='topic-summary'>{{topic.summary}}</div>
                      <p>
                        From:
                        <span ng-repeat="article in topic.articles">{{article.source}} </span>
                    </p>
                  </div>
              </div>
			</div>
  		</div>
			
	</div>
  </body>
  {% endverbatim %}
</html>
